[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.model-item {
	padding-bottom: 5px;
}

#name-field {
	margin-top: 80px;
}

body {
    background-color: #ff4d4d;
}

.topHeadBox {
	background-color:  #0099cc;
}

.help-block {
	font-size: 12px;
}
