        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="business in vm.favorites_results">
            <div class="swish-card-item">

              <section class="card-item-information">
                <img ng-src="{{business.photos[$index % 3]}}" alt="food sample 1">
                <!-- |||||||||||||||||||||||||||| -->
                <!-- INFORMATION CONTAINER-->
                <!-- |||||||||||||||||||||||||||| -->
                <div class="card-item-info-container">
                  <p class="card-item-name"> {{business.name}}</p>
                  <p class="card-item-address">{{business.location.address1}}</p>
                  <p class="card-item-address">{{business.location.city}}, {{business.location.state}} {{business.location.zip_code}}</p>
                  <p class="card-item-phone">{{business.display_phone}}</p>
                  <p class="card-item-rating"><br>Rating: {{business.rating}}/5 ({{business.review_count}} reviews)</p>
                </div>

                <!-- |||||||||||||||||||||||||||| -->
                <!-- REMOVE CARD BTN -->
                <!-- |||||||||||||||||||||||||||| -->
                <div class="rem-btn-container" ng-click="vm.removeFavorite(business)">
                  <a href><img class="rem-btn" data-toggle="tooltip" data-placement="left" title="Remove from favorite" src="assets/img/search_card_item/remove.svg" alt=""></a>
                </div>

                <!-- |||||||||||||||||||||||||||| -->
                <!-- CARD BTN CONTAINER -->
                <!-- |||||||||||||||||||||||||||| -->
                <div class="card-btn-container">
                  <div class="row text-center">
                    <img class="card-btn tooltipped" data-toggle="tooltip" data-placement="top" title="Restaurant is open" src="../assets/img/search_card_item/open.svg" alt="open restaurant indicator" ng-show="{{business.hours[0].is_open_now}}">
                    <img class="card-btn tooltipped" data-toggle="tooltip" data-placement="top" title="Restaurant is closed" src="../assets/img/search_card_item/closed.svg" alt="closed restaurant indicator" ng-show="{{!business.hours[0].is_open_now}}">
                    <a href="{{business.url}}">
                      <img data-toggle="tooltip" data-placement="top" title="Go to Yelp" class="card-btn tooltipped" src="assets/img/search_card_item/yelp.svg" alt="">
                    </a>
                  </div>
                </div>

              </section>
            </div>
          </div>
        </div>
