<div class="swish-app-wrapper">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <!-- NAVIGATION BAR MODULE & SEARCH FIELD VALUES-->
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <link rel="stylesheet" href="search/css/main.css">
  <link rel="stylesheet" href="search/css/navigation_bar2.css">
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <!-- COMPLETE NAVIGATION BAR -->
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">


        <div class="swish-nav-bar-container">
          <!-- WEBSITE NAME -->
          <a href=""><p class="swish-nav-brand">testing</p></a>

          <!-- WEBSITE NAVIGATION BAR -->
          <div class="search-fields-container">
            <div class="row">
              <form ng-submit="vm.searchFood()">
                <!-- FOOD SEARCH FIELD -->
                <div class="col-sm-4 col-lg-4">
                  <label id="food-input-field">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <img class="field-icon" src="assets/img/navigation_bar/search.svg"
                               alt="">
                        </div>


                        <!-- ACTUAL INPUT HERE!!!! -->
                        <input ng-model="vm.food_name" name="food_name" type="text"
                               class="form-control" id="exampleInputAmount"
                               placeholder="Search Food" required>
                      </div>
                    </div>
                  </label>
                </div>

                <!-- FOOD LOCATION FIELD -->
                <div class="col-sm-4 col-lg-4">
                  <label id="location-input-field">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <img class="field-icon" src="assets/img/navigation_bar/location.svg"
                               alt="">
                        </div>


                        <!-- ACTUAL INPUT HERE!!!! -->
                        <input ng-model="vm.food_location" name="food_location" type="text"
                               class="form-control" id="exampleInputAmount"
                               placeholder="Search Location" required>
                      </div>
                    </div>
                  </label>
                </div>

                <!-- SUBMIT BUTTON -->
                <div class="col-sm-4 col-lg-4">
                  <button type="submit" class="cust-btn btn btn-primary">Search</button>
                  <a href="/login">
                    <img class="swish-logout tooltipped" src="assets/img/navigation_bar/logout.svg"
                         alt="logout button" data-toggle="tooltip" data-placement="bottom"
                         title="Logout">
                  </a>
                  <a href=""><img class="swish-menu tooltipped"
                                  src="assets/img/navigation_bar/menu.svg" alt="logout button"
                                  data-toggle="tooltip" data-placement="bottom" title="Menu"></a>
                </div>


                <!-- HIDDEN MENU CONTAINER -->
                <section class="hidden-menu-container"> <!-- ABSOLUTE CONTAINER -->
                  <div class="hidden-menu-inner-container"> <!-- RELATIVE CONTAINER -->

                    <!-- PRICE SELECTION -->
                    <div class="row text-center">
                      <p class="hidden-menu-title">price selection</p>
                      <div class="form-group">
                        <label class="checkbox-inline">
                          <input ng-model="vm.price1" [name="price1" ] type="checkbox"
                                 id="inlineCheckbox1" value="1"> $
                        </label>
                        <label class="checkbox-inline">
                          <input ng-model="vm.price2" [name="price2" ] type="checkbox"
                                 id="inlineCheckbox2" value="2"> $$
                        </label>
                        <label class="checkbox-inline">
                          <input ng-model="vm.price3" [name="price3" ] type="checkbox"
                                 id="inlineCheckbox3" value="3"> $$$
                        </label>
                        <label class="checkbox-inline">
                          <input ng-model="vm.price4" [name="price4" ] type="checkbox"
                                 id="inlineCheckbox4" value="4"> $$$$
                        </label>
                      </div>
                    </div>


                    <!-- CATEGORY SELECTION -->
                    <div class="row text-center">
                      <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
                        <p class="hidden-menu-title">category selection</p>
                        <select class="form-control" name="selected_category"
                                ng-model="vm.selected_category">
                          <option value="" disabled selected>Select Restaurant Type</option>
                          <option ng-repeat="option in vm.categories" value="{{option.name}}"
                                  ng-selected="vm.selected_category == option.name">
                            {{option.name}}
                          </option>
                        </select>
                      </div>
                    </div>


                    <!-- LOGOUT BUTTON -->
                    <div class="row text-center">
                      <div class="hidden-logout-container">
                        <a href="/login">
                          <img class="hidden-swish-logout"
                               src="assets/img/navigation_bar/logout.svg" alt="logout button">
                          logout
                        </a>
                      </div>
                    </div>


                  </div>
                </section>
              </form>


            </div>
          </div>
        </div>


        <!-- WEBSITE SEARCH FIELDS DISPLAYED -->
        <!-- YELLOW BAR | SELECTION BETWEEN LIST VIEW AND FAVORITIES -->
        <section class="yellow-search-options">
          <div class="row">
            <div class="col-sm-6 col-lg-6 text-right">
              <p class="user-food-search">{{vm.searched_food}}</p>
            </div>
            <div class="col-sm-6 col-lg-6 text-lefts">
              <p class="user-location-search">{{vm.searched_location}}</p>
            </div>
          </div>
          <img class="results-icon" src="assets/img/search_results_bar/result.svg" alt="results icon">
          <img class="pointy" src="assets/img/search_results_bar/pointy.svg" alt="pointy thingy for the bar">

          <img class="list-search-results tooltipped" src="assets/img/search_results_bar/bullets.svg"
               alt="search results icon" data-toggle="tooltip" data-placement="bottom" title="Search Results">
          <img class="card-favorite-results tooltipped" src="assets/img/search_results_bar/cards.svg"
               alt="favorite section icon" data-toggle="tooltip" data-placement="bottom"
               title="Your Favorites">
        </section>


      </div>
    </div>
  </div>


  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <!-- HOMEPAGE LOOK-A-LIKE FILLER             -->
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <link rel="stylesheet" href="search/css/homepage_elements.css">
  <div id="homepage-elements" class="container-fluid">
    <!-- HOMEPAGE BANNER SECTION -->
    <div class="row">
      <div class="col-lg-12">
        <div class="swish-banner-section">
          <p class="swish-welcome-message">
            Discover new foods and places
          </p>
        </div>
      </div>
    </div>

    <!-- INFORMATION SECTION -->
    <div class="row text-center">
      <div class="col-lg-12">
        <section class="swish-information">

          <div class="row" ng-click="vm.test()">
            <div class="col-lg-2 col-lg-offset-5 col-sm-6 col-sm-offset-3">
              <p class="information-header">Check out that chicken, boi!</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
              <p class="information-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque error maxime
                odit, voluptate veritatis eveniet suscipit iure earum labore quaerat animi repellendus
                sed dicta molestias perspiciatis voluptates fugit rem!
              </p>
            </div>
          </div>


        </section>
      </div>
    </div>
  </div>


  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <!-- LIST MODULE                             -->
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <link rel="stylesheet" href="search/css/list_results2.css">
  <section class="swish-list-area">
    <img class="mascot-message" src="assets/img/chick.svg" alt="mascot icon">
    <div class="container">
      <div class="search-result-wrapper">
        <div class="row">
          <div class="col-lg-6" ng-repeat="item in vm.search_results.businesses">
            <div class="search-result-item">
              <div class="border-box upper-left"></div>
              <div class="border-box upper-right"></div>
              <div class="border-box lower-left"></div>
              <div class="border-box lower-right"></div>


              <div class="result-bkg-container">
                <img class="result-item-bkg" ng-src="{{item.image_url}}" alt="search result image">
              </div>


              <section class="result-info-container">
                <div class="result-inner-container">

                  <img class="favorite-btn tooltipped" src="assets/img/search_list_item/add.svg"
                       alt="add to favorite icon" data-toggle="tooltip" data-placement="left"
                       title="Add To Favorites" ng-click="vm.addFavorites(item)">

                  <div class="upper-information">
                    <p class="result-info result-name">{{item.name}}</p>
                    <p class="result-info result-city">{{item.location.city}},
                      {{item.location.state}}</p>
                  </div>

                  <div class="lower-information">
                    <p class="result-info result-address">{{item.location.address1}}</p>
                    <p class="result-info result-address">
                      {{item.location.city}}, {{item.location.state}} {{item.location.zip_code}}
                    </p>
                    <p class="result-info result-phone">{{item.display_phone}}</p>
                  </div>


                  <div class="side-information">
                    <!-- ITEM REVIEWS CONTAINER -->
                    <div class="data-container text-center">
                      <a ng-attr-href="{{item.url}}" target="_blank">
                        <img class="data-icon tooltipped"
                             src="assets/img/search_list_item/reviews.svg"
                             alt="item reviews icon" data-toggle="tooltip" data-placement="top"
                             title="Reviews!">
                      </a>
                      <p class="data-field">{{item.review_count}}</p>
                    </div>

                    <!-- ITEM RATING CONTAINER -->
                    <div class="data-container text-center">
                      <img class="data-icon tooltipped"
                           src="assets/img/search_list_item/rating.svg" alt="item rating icon"
                           data-toggle="tooltip" data-placement="right"
                           title="Check out them ratings, boi!">
                      <p class="data-field">{{item.rating}}</p>
                    </div>
                  </div>


                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <!-- CARD MODULE                             -->
  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <link rel="stylesheet" href="search/css/card_result2.css">
  <section class="swish-card-area">
    <div class="container">
      <!-- CARD ELEMENT -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="business in vm.favorites_results">

          <!-- CARD CONTAINER -->
          <div class="card-container">

            <a href="" ng-click="vm.removeFavorite(business)">
              <img class="remove-icon tooltipped" data-toggle="tooltip" data-placement="left"
                   title="Remove Item" src="assets/img/search_card_item/remove.svg"
                   alt="remove card icon">
            </a>

            <!-- CARD IMAGE CONTAINER -->
            <div class="card-image-container">
              <img class="card-image" ng-src="{{business.photos[$index % 3]}}" alt="">
            </div>

            <!-- CARD INFORMATION CONTAINER -->
            <div class="card-information-container">

              <!-- card title container -->
              <div class="card-title-container">
                <p class="card-title">{{business.name}}</p>
                <img class="business-status" src="assets/img/search_card_item/open.svg" alt=""
                     ng-show="{{business.hours[0].is_open_now}}">
                <img class="business-status" src="assets/img/search_card_item/close.svg" alt=""
                     ng-show="{{!business.hours[0].is_open_now}}">
              </div>

              <!-- card address container -->
              <div class="card-info-container">
                <img class="card-icon" src="assets/img/search_card_item/location.svg" alt="">
                <p class="card-text-info">{{business.location.address1}} <br>
                  {{business.location.city}}, {{business.location.state}}
                  {{business.location.zip_code}}</p>
                <!-- <p class="card-address">los angeles, CA 90028</p> -->
              </div>

              <!-- card phone container -->
              <div class="card-info-container phone-container">
                <img class="card-icon" src="assets/img/search_card_item/smartphone.svg" alt="">
                <p class="card-text-info">{{business.display_phone}}</p>
              </div>

              <!-- ADDITIONAL DATA INFORMATION CONTAINER -->
              <div class="additional-info-container">
                <div class="add-info-box box1 text-center">
                  <a ng-attr-href="{{business.url}}" target="_blank">
                    <img class="add-card-icon tooltipped" data-toggle="tooltip" data-placement="top"
                         title="Reviews" src="assets/img/search_card_item/reviews.svg" alt="">
                    <p class="add-text-info">{{business.review_count}}</p>
                  </a>
                </div>

                <div class="add-info-box box2 text-center">
                  <img class="add-card-icon tooltipped" data-toggle="tooltip" data-placement="top"
                       title="Rating" src="assets/img/search_card_item/rating.svg" alt="">
                  <p class="add-text-info">{{business.rating}}</p>
                </div>

                <div class="add-info-box box3 text-center">
                  <a ng-attr-href="{{business.url}}" target="_blank">
                    <img class="add-card-icon tooltipped" data-toggle="tooltip" data-placement="top"
                         title="Go To Yelp" src="assets/img/search_card_item/yelp.svg"
                         alt="link to yelp">
                    <p class="add-text-info">yelp</p>
                  </a>

                </div>
              </div>

            </div>

          </div>


        </div>
      </div>
    </div>
  </section>


  <!-- ||||||||||||||||||||||||||||||||||||||| -->
  <script src="search/js/navigation_bar.js"></script>
  <script src="search/js/view_selection.js"></script>
  <!-- <script src="assets/js/rating_stars.js"></script> -->

  <!-- ||||||||||||||||||||||||||||||||||||||| -->

</div>
