.swish-list-area{
  background-color:#F5F5F5;
  /*background-color:rgba(74,91,99,.5);*/
  height:auto;
  display:none;
  min-height:auto;
  margin-top:3%;
}

.swish-list-item{
  height:250px;
  width:100%;
  margin:2% 0 0 0;
  overflow:hidden;
}

.swish-list-item:hover{
  box-shadow:4px 4px 4px rgba(0,0,0,.25);
}

.item-information{
  height:250px;
  width:100%;
  background-color:rgba(0,0,0,1);
  /*background-color: rgba(74,91,99,.5);*/
  overflow:hidden;
  position:relative;
}


/*ITEM UPPER INFO CONTAINER*/
.item-upper-info-container{
  position:absolute;
  top:5%;
  left:5%;
}

.item-name{
  color:white;
  text-transform:capitalize;
  font-family: 'raleway';
  font-size:1.8em;
  margin:0;
}


.item-address2{
  color:white;
  font-family: 'open sans';
  text-transform:capitalize;
  font-size:1.2em;
  margin:-5px 0 0 0;
}

/*ITEM LOWER INFO CONTAINER*/
.item-info-container > p{
  color:white;
  margin:0;
}

.item-info-container{
  position:absolute;
  bottom:5%;
  left:5%;
}

.item-address{
  color:white;
  font-family: 'open sans';
  text-transform:capitalize;
  font-size:1.2em;
  margin:0;
}

.item-phone{
  color:white;
  font-family: 'open sans';
  text-transform:capitalize;
  font-size:1.2em;
}

.fav-btn{
  position:absolute;
  top:5%;
  right:5%;
  height:12%;
  transform:scale(1);
  transition:transform .3s ease-in;
}

.fav-btn:hover{
  transform:scale(1.2);
}

.item-information > img{
 height:300px;
 /*width:100%;*/
 opacity:.5;
}

.item-image{
  /*height:300px;*/
  width:100%;
}

.swish-list-item > div.col-lg-4{
  background-image: url('https://cdn.shutterstock.com/shutterstock/videos/8919856/thumb/1.jpg');
  background-size: cover;
  padding:0;
}



/*CHECK rating_stars.js*/
/*The classes changed here can be seen in the script*/
.stars{
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
  font-size:1.3em;
  /*color:#e50914;*/
  color:#f6bf33;
  /*background-color:red;*/
}

.fa{
  margin-right:5px;
}
