/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* RULES FOR NAVIGATION BAR                          */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.swish-nav-bar-container{
  background-color:#4A5B63;
  height:10vh;
  position:relative;
  z-index:2;
  box-shadow:0px 4px 4px rgba(0,0,0,.25);
}

.swish-nav-brand{
  font-family:arial;
  font-size:2em;
  color:white;
  text-transform:uppercase;
  border:2px solid white;
  display:inline-block;
  padding:.5%;

  position:absolute;
  top:50%;
  left:5%;
  transform:translate(-50%, -50%) scale(1);
  transition:all .1s linear;
}

.swish-nav-brand:hover{
  color:#F6BF33;
  border:2px solid #F6BF33;
  transform:translate(-50%, -50%) scale(1.1);
}




/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* SEARCH FIELD RULES | START                          */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.search-fields-container{
  /*border:2px solid green;*/
  width:50%;
  position:absolute;
  top:65%;
  right:0%;
  transform:translate(0, -50%);
}

.input-group-addon{
  background-color:#F6BF33;
  border:none;
  border-radius:50px;
}

.form-control{
  border-radius:50px;
}

.field-icon{
  height:20px;
}

.swish-logout{
  position:absolute;
  top:-25%;
  right:38%;

  width:15%;
}

.swish-menu{
  position:absolute;
  top:2%;
  right:10%;

  width:15%;
}

.cust-btn{
  width:100px;
  background-color:#F6BF33;
  border-radius:30px;
  border:none;

  font-family:raleway;
  font-size:1.2em;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* SEARCH FIELD RULES | END                            */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/






/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MEDIUM SIZED SCREENS: ;                       */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .swish-nav-brand{
    left:8%;
  }

  .search-fields-container{
    width:80%;
    position:absolute;
    top:65%;
    right:0%;
    transform:translate(0, -50%);

    /*border:2px solid green;*/
  }

  .swish-logout{
    position:absolute;
    top:-10%;
    right:30%;

    width:15%;
  }

  .swish-menu{
    position:absolute;
    top:10%;
    right:8%;

    width:15%;
  }


} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SMALL SIZED SCREEN: ;                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (max-width: 40em) {
  .swish-nav-brand{
    left:50%;
  }  

  #food-input-field{
    display:none;
  }

  #location-input-field{
    display:none;
  }

  .swish-logout{
    display:none;
  }

  .cust-btn{
    display:none;
  }

  .swish-menu{
    position:absolute;
    top:5%;
    right:8%;
    margin:5% 5% 0 0;
    width:15%;
  }

  .search-fields-container{
    height:100%;
  }
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MAC BOOK PRO SIZE                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px){
  .search-fields-container{
    width:70%;
    /*border:2px solid green;*/
  }
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SHITTY RESOLUTION ... I MEAN SMALL RESOLUTIONS  :)   */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 1280px) and (max-width: 1600px){

  .search-fields-container{
    /*border:2px solid green;*/
    width:70%;
  }

} 


/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/




/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* HIDDEN NAVIGATION MENU RULES */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.hidden-menu-container{
  /*border:2px solid green;*/
  position:absolute;
  top:0;
  right:-50%;
  transform:translate(0%, 6.3vh);
  border-radius:0 0 0 20px;

  background-color:rgba(74,91,99,.9);
  height:auto;
  min-height:30vh;
  width:50%;
}

.hidden-menu-inner-container{
  position:relative;
  width:100%;
  height:30vh;
  /*border:2px solid green;*/
}

.hidden-menu-title{
  margin-top:5%;
  font-weight:bold;
  font-family:raleway;
  font-size:1.5em;
  color:white;
  text-transform:capitalize;
}

.hidden-logout-container{
  margin-top:5%;
}

.hidden-logout-container > a{
  font-family:raleway;
  font-size:1.3em;
  color:white;
  text-transform:capitalize;
}

.hidden-logout-container > a:hover{
  color:white;
  text-decoration:none;
}

.hidden-swish-logout{
  height:45px;
}

.checkbox-inline{
  font-family:raleway;
  font-size:1.2em;
  color:white;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MEDIUM SIZED SCREENS: ;                       */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SMALL SIZED SCREEN: ;                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (max-width: 40em) {
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MAC BOOK PRO SIZE                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px){
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SHITTY RESOLUTION ... I MEAN SMALL RESOLUTIONS                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 1280px) and (max-width: 1600px){

} 





/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/




/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* SEARCH FIELDS YELLOW BAR RULES */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.yellow-search-options{
  background-color:#F6BF33;
  height:7vh;
  width:100%;
  position:relative;
  z-index:1;
}

.pointy{
  height:50px;
  position:absolute;
  top:6.5vh;
  left:50%;
  transform:translate(-50%, 0);
}

.results-icon{
  height:80%;
  position:absolute;
  top:10%;
  left:50%;
  transform:translate(-50%, 0);
}

.list-search-results{
  height:30%;
  position:absolute;
  top:35%;
  right:6%;
}

.card-favorite-results{
  height:50%;
  position:absolute;
  top:25%;
  right:2%; 
}

.list-search-results:hover{
  cursor:pointer;
}

.card-favorite-results:hover{
  cursor:pointer;
}

.user-food-search,.user-location-search{
  font-family:raleway;
  font-size:1.5em;
  color:white;
  text-transform:capitalize;
  margin-top:1.8%;
}

.user-food-search{
  margin-right:5%;
}

.user-location-search{
  margin-left:5%;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MEDIUM SIZED SCREENS: ;                       */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .user-food-search,.user-location-search{
    margin-top:5%;
  }

  .list-search-results{
    right:8%;
  }

  .card-favorite-results{
    right:2%; 
  }
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SMALL SIZED SCREEN: ;                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (max-width: 40em) {
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR MAC BOOK PRO SIZE                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px){
  .user-food-search,.user-location-search{
    margin-top:2.2%;
  }
} 


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* CSS RULES FOR SHITTY RESOLUTION ... I MEAN SMALL RESOLUTIONS                         */
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media only screen and (min-width: 1280px) and (max-width: 1600px){

} 